<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>You Shall Not Pass</title>
  <link rel="stylesheet" href="css.main.css" />
</head>
  <h1>Login Page</h1>
  <form action="/login" method="post">
    <input type="text" id="username" placeholder="User Name" name="username" required maxlength="100"><br />
    <input type="password" id="password" placeholder="Password" name="password" required minlength="8"><br />
    <button type="submit" id="submit">Submit</button>
  </form>
</body>
</html>
